.glass{
  height: 80vh;
  max-width: 80vw;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  backdrop-filter: blur(7.1px);
  @apply border-4 border-gray-50 shadow-lg shrink-0;
  @apply rounded-3xl  px-5 py-5;
  overflow-y: auto;
}

.logo{
  width: 128px;
  height: 150px;
  pointer-events: none
}
.textbox{
  @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-lg text-lg text-center;
  @apply focus:outline-none;
}
button.btn{
  @apply border bg-sky-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
  &:hover{
    background-color: rgb(32, 144, 196);
  }
  
}

.hyperlink{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  &:hover{
    color: palevioletred
  }
}